name: Build and Deploy Rust App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release Binary
        run: cargo build --release

      - name: Copy binary to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # Path to your compiled binary and target folder on EC2
          source: "target/release/rust-passkey-app"
          target: "/home/ubuntu/rust-passkeys-app"
          strip_components: 2

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Ensure the directory exists
            mkdir -p /home/ubuntu/rust-passkeys-app
            # Give execution permissions to the binary uploaded via SCP
            chmod +x /home/ubuntu/rust-passkeys-app/rust-passkey-app
            # Restart the systemd service
            sudo systemctl restart rust-passkey-app.service